<footer class="my-footer z-depth-2">
    <p>
        {% if site.email %}<a href="mailto:{{ site.email }}" target="_blank" class="waves-effect waves-teal btn-flat my-mail-link"><i class="fa fa-envelope"></i></a>{% endif %}
        {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" class="waves-effect waves-teal btn-flat my-github-link"><i class="fa fa-github"></i></a>{% endif %}
        {% if site.stackoverflow %}<a href="https://stackoverflow.com/{{ site.stackoverflow }}" target="_blank" class="waves-effect waves-teal btn-flat my-twitter-link"><i class="fa fa-stack-overflow"></i></a>{% endif %}
        {% if site.linkedin_url %}<a href="{{ site.linkedin_url }}" target="_blank" class="waves-effect waves-teal btn-flat my-github-link"><i class="fa fa-linkedin"></i></a>{% endif %}
    </p>
</footer>
<!-- <script src="{{ "/styles/d3.min.js" | prepend: site.baseurl }}"></script> -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ "/styles/index.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/styles/data.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/styles/bubbles.js" | prepend: site.baseurl }}"></script>
