<!DOCTYPE html>
<html lang="{{ site.isolang }}" itemscope itemtype="http://schema.org/WebPage">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="section my-section" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">

        {% if page.path == 'index.html' %}
          <h1 class="my-headline" itemprop="headline"><a class="my-name" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
          <img class="self" width="230px" src="{{ site.baseurl }}/images/self.jpg">
          <p class="my-description" itemprop="text">
            {{ site.about }}
            <br><br>
            <i class="fa fa-map-marker"></i> {{ site.location }}
          </p>
        {% else %}
          <a href="{{ site.baseurl }}/">
            <img class="not-home-logo" src="{{ site.baseurl }}/images/rakusu.jpg">
          </a>
        {% endif %}


            {{ content }}


      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
